<div class="container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <img src="../../assets/logo.png">
      <div class="input formGroup">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required formControlName="email">
      </div>
      <div class="input formGroup">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" required formControlName="password">
      </div>
      <input type="submit" class="btnEntrar" value="Entrar">
    </form>
</div>
