<mat-sidenav-container class="container">
    <div class="top">
        <img src="../../../assets/avatar.png" height="128" width="128">
        <span>Bem-vindo de volta,</span>
        <span>{{username}}</span>
    </div>
    <div class="options">
        <div class="captacao">
            <mat-icon>search</mat-icon>
            <span>Captação de Imóveis</span>
        </div>
        <div class="exit" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
        </div>
    </div>
    
</mat-sidenav-container>