/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'ngx-toastr/toastr';

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
}

html, body { height: 100%; }
body { margin: 0; }
